<footer class="footer">
  <small>
<!--     <a href="http://railstutorial.org/">Rails Tutorial</a> -->
<!--     by Michael Hartl -->
	<a href="https://github.com/alu0100207385/lab7_Rails">Repositorio p7</a>
  </small>
  <nav>
    <ul>
<!--       <li><%= link_to "About",   '#' %></li> -->
      <li><%= link_to "About",   about_path %></li>
<!--       <li><%= link_to "Contact", '#' %></li> -->
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>